<template>
    <b-form @submit="handleSignIn">
        <b-alert :show="alertShown"
                 variant="danger">
            <b-icon icon="exclamation-circle"></b-icon> {{ alertMessage }}
        </b-alert>
        <b-form-group id="username-input-group"
                      label="Uživatelské jméno"
                      label-for="username-input">
            <b-form-input id="username-input"
                          v-model="form.username"
                          required
                          placeholder="Zadejte uživatelské jméno"/>
        </b-form-group>
        <b-form-group id="password-input-group"
                      label="Heslo"
                      label-for="password-input">
            <b-form-input id="password-input"
                          type="password"
                          v-model="form.password"
                          required
                          placeholder="Zadejte heslo"/>
        </b-form-group>
        <b-overlay :show="isLoading"
                   spinner-small
                   spinner-variant="primary"
                   class="d-inline-block">
            <b-button type="submit" variant="primary"><b-icon icon="box-arrow-in-right"></b-icon> Přihlásit se</b-button>
        </b-overlay>
    </b-form>
</template>

<script>
  import axios from "axios";
  export default {
    name: "SignIn",
    data() {
      return {
        form: {
          username: "",
          password: ""
        },
        isLoading: false,
        alertShown: false,
        alertMessage: ""
      }
    },
    methods: {
      handleSignIn(e) {
        e.preventDefault();
        this.alertShown = false;
        this.isLoading = true;
        let formData = new FormData();
        formData.set("username", this.form.username);
        formData.set("password", this.form.password);
        axios.post("/api/users/signin", formData)
          .then(() => {
            e.target.submit();
          })
          .catch(err => {
            this.alertMessage = err.response.data.message;
            if (err.response.status === 404) {
              this.alertMessage = "Uživatelské jméno neexistuje.";
            } else if (err.response.status === 401) {
              this.alertMessage = "Heslo není správné.";
            }
            this.alertShown = true;
            this.isLoading = false;
          });
      }
    }
  }
</script>

<style scoped>
form {
    margin-bottom: 1em;
}
</style>
