<template>
    <b-form @submit="handleSignUp">
        <b-alert :show="alertShown"
                 variant="danger">
            <b-icon icon="exclamation-circle"></b-icon> {{ alertMessage }}
        </b-alert>
        <b-form-group id="username-input-group"
                      label="Uživatelské jméno"
                      label-for="username-input">
            <b-form-input id="username-input"
                          v-model="form.username"
                          :state="validationUsername"
                          required
                          placeholder="Zadejte uživatelské jméno"/>
            <b-form-invalid-feedback :state="validationUsername">
                Délka uživatelského jména musí být v rozmezí 2-20 znaků.
            </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="password-input-group"
                      label="Heslo"
                      label-for="password-input">
            <b-form-input id="password-input"
                          type="password"
                          v-model="form.password"
                          :state="validationPassword"
                          required
                          placeholder="Zadejte heslo"/>
            <b-form-invalid-feedback :state="validationPassword">
                Heslo musí mít alespoň 8 znaků a obsahovat alespoň 1 písmeno a 1 číslici.
            </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="passwordAgain-input-group"
                      label="Heslo znovu"
                      label-for="passwordAgain-input">
            <b-form-input id="passwordAgain-input"
                          type="password"
                          v-model="form.passwordAgain"
                          :state="validationPasswordAgain"
                          required
                          placeholder="Zadejte heslo znovu"/>
            <b-form-invalid-feedback :state="validationPasswordAgain">
                Hesla se neshodují nebo nejsou splněny všechny požadavky na heslo.
            </b-form-invalid-feedback>
        </b-form-group>
        <b-overlay :show="isLoading"
                   spinner-small
                   spinner-variant="primary"
                   class="d-inline-block">
            <b-button :disabled="!allValid" type="submit" variant="primary"><b-icon icon="box-arrow-in-right"></b-icon> Zaregistrovat se</b-button>
        </b-overlay>
    </b-form>
</template>

<script>
  import axios from "axios";
  export default {
    name: "SignUpForm",
    data() {
      return {
        form: {
          username: "",
          password: "",
          passwordAgain: ""
        },
        isLoading: false,
        alertShown: false,
        alertMessage: ""
      }
    },
    computed: {
      validationUsername() {
        return this.form.username.length > 1 && this.form.username.length <= 20 && this.form.username.replace(/\s/g,'').length > 0;
      },
      validationPassword() {
        return !!this.form.password.match(/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&]{8,}$/);
      },
      validationPasswordAgain() {
        return this.validationPassword && this.form.password === this.form.passwordAgain;
      },
      allValid() {
        return this.validationUsername && this.validationPassword && this.validationPasswordAgain;
      }
    },
    methods: {
      handleSignUp(e) {
        e.preventDefault();
        this.alertShown = false;
        this.isLoading = true;
        let formData = new FormData();
        formData.set("username", this.form.username);
        formData.set("password", this.form.password);
        axios.post("/api/users/signup", formData)
          .then(() => {
            e.target.submit();
          })
          .catch(err => {
            this.alertMessage = err.response.data.message;
            if (err.response.status === 409) {
                this.alertMessage = "Uživatel s tímto uživatelským jménem již existuje."
            }
            this.alertShown = true;
            this.isLoading = false;
          });
      }
    }
  }
</script>

<style scoped>
form {
    margin-bottom: 1em;
}
</style>
