<template>
    <svg id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" :width="size || 16" :height="size || 16" :fill="color || '#000'" viewBox="0 0 16 16">
        <title>bujo_list</title>
        <path d="M2.34,3.7a1.36,1.36,0,0,0,1-2.32A1.36,1.36,0,1,0,1.82,3.6,1.34,1.34,0,0,0,2.34,3.7Z" style="fill-rule: evenodd"/>
        <path d="M5,2.34a0.5,0.5,0,0,1,.5-0.5h9a0.5,0.5,0,0,1,.5.5,0.5,0.5,0,0,1-.5.5h-9A0.5,0.5,0,0,1,5,2.34Z" style="fill-rule: evenodd"/>
        <path d="M5,7.8a0.5,0.5,0,0,1,.5-0.5h9a0.5,0.5,0,1,1,0,1h-9A0.5,0.5,0,0,1,5,7.8Z" style="fill-rule: evenodd"/>
        <path d="M5,13.26a0.5,0.5,0,0,1,.5-0.5h9a0.5,0.5,0,1,1,0,1h-9A0.5,0.5,0,0,1,5,13.26Z" style="fill-rule: evenodd"/>
        <rect width="16" height="16" style="fill: none"/>
        <circle cx="2.39" cy="7.8" r="1.28" :stroke="color || '#000'" style="fill: none;stroke-miterlimit: 10;stroke-width: 0.30000001192092896px"/>
        <line x1="1.21" y1="14.49" x2="3.69" y2="12.01" :stroke="color || '#000'" style="fill: none;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 0.30000001192092896px"/>
        <line x1="3.69" y1="14.49" x2="1.21" y2="12.01" :stroke="color || '#000'" style="fill: none;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 0.30000001192092896px"/>
    </svg>
</template>

<script>
  export default {
    name: "BuJoSVGIcon",
    props: ["size", "color"]
  }
</script>

<style scoped>

</style>
