<template>
    <section>
        <MonthlyLogDay v-for="i in date.daysInMonth()" v-bind:key="i" :date="date.clone().date(i)" />
    </section>
</template>

<script>
  import MonthlyLogDay from "../MonthlyLogDay";
  import { mapGetters } from "vuex";

  export default {
    name: "MonthlyLogContent",
    components: {MonthlyLogDay},
    computed: {
      date() {
        return this.getSelectedDateMonthlyLog();
      }
    },
    methods: {
      ...mapGetters(["getSelectedDateMonthlyLog"])
    }
  }
</script>

<style scoped>

</style>
