<template>
    <section id="report-wrapper">
        <template v-if="statistics && reportType === 'TASK' && statistics.totalTasksCount > 0">
            <TaskReport />
        </template>
        <template v-else-if="statistics && reportType === 'NOTE' && statistics.totalNotesCount > 0">
            <NoteReport />
        </template>
        <template v-else>
            <h3>Žádná data reportu k dispozici</h3>
        </template>
    </section>
</template>

<script>
  import { mapGetters } from "vuex";
  import TaskReport from "./reports/TaskReport";
  import NoteReport from "./reports/NoteReport";
  export default {
    name: "ReportingContent",
    components: {NoteReport, TaskReport},
    computed: {
      ...mapGetters(["getReportStatistics", "getReportType"]),
      statistics() {
        return this.getReportStatistics;
      },
      reportType() {
        return this.getReportType;
      }
    },
  }
</script>

<style scoped>
section {
    padding: .5em 1em;
    background-color: #fafafa;
}
</style>
