<template>
    <div>
        <b-form-group label="Text záznamu:"
                      label-for="entry-text-input"
                      :state="entryTextState"
                      invalid-feedback="Text záznamu musí mít alespoň 1 znak, může mít maximálně 100 znaků a nesmí obsahovat pouze mezery.">
            <b-form-input id="entry-text-input"
                          placeholder="Např. Koupit vstupenky"
                          v-model="text"
                          :state="entryTextState"
                          @keyup="$emit('update:text', text)"/>
        </b-form-group>
    </div>
</template>

<script>
  export default {
    name: "EntryTextInput",
    props: ["initialValue"],
    data() {
      return {
        text: this.initialValue ? this.initialValue : ""
      }
    },
    computed: {
      entryTextState() {
        return this.text.length > 0 && this.text.length <= 100 && this.text.replace(/\s/g,'').length > 0;
      }
    }
  }
</script>

<style scoped>

</style>
