<template>
    <section>
        <BaseCollectionPanel collection="MONTHLY_LOG" />
        <MonthlyLogContent />
    </section>
</template>

<script>
  import BaseCollectionPanel from "../components/collectionPanels/BaseCollectionPanel";
  import MonthlyLogContent from "../components/collectionContents/MonthlyLogContent";
  export default {
    name: "MonthlyLog",
    components: {MonthlyLogContent, BaseCollectionPanel},
    metaInfo: {
      title: "Monthly Log"
    }
  }
</script>

<style scoped>

</style>
