<template>
    <section>
        <b-overlay :show="getContentLoading"
                   spinner-variant="primary"
                   spinner-type="grow">
            <BaseCollectionPanel collection="REPORTING" />
            <ReportingContent />
        </b-overlay>
    </section>
</template>

<script>
  import BaseCollectionPanel from "../components/collectionPanels/BaseCollectionPanel";
  import {mapGetters} from "vuex";
  import ReportingContent from "../components/collectionContents/ReportingContent";
  export default {
    name: "Reporting",
    components: {ReportingContent, BaseCollectionPanel},
    metaInfo: {
      title: "Reporting"
    },
    computed: {
      ...mapGetters(["getContentLoading"])
    }
  }
</script>

<style>
@media print {
    header, #panel {
        display: none !important;
    }
    #report-wrapper {
        padding: 2em;
    }
}
</style>
