<template>
    <header>
        <div id="header-dropdown-container">
            <b-dropdown variant="primary" class="btn-shadow">
                <template v-slot:button-content>
                    <span class="h6">{{ $route.name ? $route.name.toUpperCase() : 'DAILY LOG' }}</span>
                </template>
                <b-dropdown-item :active="$route.name === 'Daily Log'" to="/">DAILY LOG</b-dropdown-item>
                <b-dropdown-item :active="$route.name === 'Monthly Log'" to="/monthly-log">MONTHLY LOG</b-dropdown-item>
                <b-dropdown-item :active="$route.name === 'Reporting'" to="/reporting">REPORTING</b-dropdown-item>
            </b-dropdown>
        </div>
        <div v-if="getContentLoading || isLoading" id="header-spinner-container" class="d-inline-block">
            <b-spinner variant="primary"></b-spinner>
        </div>
        <div id="header-btns-container">
            <b-button variant="outline-primary" id="btn-logout" class="float-right btn-shadow btn-desktop" title="Odhlásit se" @click="handleSignOut"><span class="h6">{{ getCurrentUser && getCurrentUser.username ? getCurrentUser.username : "" }} <b-icon icon="box-arrow-right"></b-icon></span></b-button>
            <b-button variant="outline-primary" id="btn-help" class="float-right btn-shadow btn-desktop" title="Nápověda" v-b-modal.help-dialog><span class="h6"><b-icon icon="question"></b-icon></span></b-button>
            <b-dropdown right variant="outline-primary" id="btn-mobile-opts" class="btn-shadow" no-caret>
                <template v-slot:button-content>
                    <b-icon icon="list"></b-icon>
                </template>
                <b-dropdown-text><b-icon icon="person-fill"></b-icon> {{ getCurrentUser && getCurrentUser.username ? getCurrentUser.username : "" }}</b-dropdown-text>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item v-b-modal.help-dialog><b-icon icon="question"></b-icon> Nápověda</b-dropdown-item>
                <b-dropdown-item @click="handleSignOut"><b-icon icon="box-arrow-right"></b-icon> Odhlásit se</b-dropdown-item>
            </b-dropdown>
        </div>
    </header>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
  export default {
    name: "Header",
    data() {
      return {
        isLoading: false
      }
    },
    methods: {
      ...mapActions(["updateContentLoading"]),
      handleSignOut() {
        this.isLoading = true;
        axios.post("/api/users/signout")
          .then(() => {
            window.location.replace("/home");
          })
          .catch(err => {
            console.log(err);
            this.isLoading = false;
          })
      }
    },
    computed: {
      ...mapGetters(["getContentLoading", "getCurrentUser"])
    }
  }
</script>

<style scoped>
header {
    display: flex;
    width: 100%;
    padding: .5em;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

#header-dropdown-container {
    flex: 0;
}

#header-btns-container {
    flex: 1;
    text-align: right;
}

#header-spinner-container {
    flex: 0;
    padding-left: 1em;
}

#btn-mobile-opts {
    display: none;
}

button#btn-help {
    margin-right: .5em;
}

@media screen and (max-width: 600px) {
    header {
        padding: .5em;
    }

    .btn-desktop {
        display: none;
    }

    #btn-mobile-opts {
        display: inline-block;
    }
}
</style>
