<template>
    <section class="monthly-log-day" v-bind:class="{ weekend: isWeekendDay(date), selected:  selectedDay === date.date()}" :id="'day-' + date.date()">
        <div class="day-part" v-bind:class="{ today: isToday(date)}">
            <div class="day-number m-0">{{ date.date() }}.</div>
            <div class="day-name">{{ toMoment(date).format("dddd") }}</div>
            <b-badge v-if="isToday(date)" id="today" variant="primary" class="today-badge">Dnes</b-badge>
        </div>
        <div class="entry-part w-100">
            <template v-for="dayEntry in dayEntries(date)">
                <Entry :key="dayEntry.id" :entry-data="dayEntry" :in-daily-log="false"/>
            </template>
        </div>
    </section>
</template>

<script>
  import { mapGetters } from "vuex";
  import Entry from "./entry/Entry";
  import moment from "moment";
  export default {
    name: "MonthlyLogDay",
    components: {Entry},
    props: ["date"],
    computed: {
      selectedDay() {
        return this.getSelectedDateMonthlyLog().date();
      }
    },
    methods: {
      ...mapGetters(["getSelectedDateMonthlyLog", "getMonthlyLogEntriesByDay"]),
      isWeekendDay(date) {
        return date.format('e') === "5" || date.format('e') === "6";
      },
      isToday(date) {
        return moment().isSame(date, "day");
      },
      dayEntries(date) {
        return this.getMonthlyLogEntriesByDay()(date);
      },
      toMoment(date) {
        return moment(date);
      }
    }
  }
</script>

<style scoped>
.monthly-log-day {
    display: flex;
    border-bottom: 1px solid lightgray;
    transition: background-color 300ms;
}

.monthly-log-day.weekend {
    background-color: #f5f5f5;
}

.monthly-log-day.selected {
    background-color: #e2f7fa;
}

.day-part {
    text-align: right;
    min-width: 6em;
    padding: .5em 1em;
    border-right: 1px solid lightgray;
}

.day-part.today {
    border-right: .2em solid #007bff;
    padding-right: .8em;
}

.day-number {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}

.day-name {
    color: #696969;
}

@media screen and (max-width: 600px){
    .day-part {
        min-width: 3.5em;
        padding: .3em;
    }

    .day-part.today {
        padding-right: .2em;
    }

    .day-number {
        font-size: 1.25rem;
    }

    .day-name {
        font-size: .8em;
    }

    .today-badge {
        font-size: .6em;
    }
}
</style>
