<template>
    <b-modal id="edit-entry-dialog"
             :title="getIsSubEntryOriented ? 'Upravit odsazený záznam' : 'Upravit záznam'"
             no-close-on-esc no-close-on-backdrop
             @show="setData()"
             @ok="handleOk"
             scrollable>
        <template v-slot:default>
            <template v-if="getIsSubEntryOriented">
                <span class="info">Rodič odsazeného záznamu: <i>{{ getMarkedParentEntry.text }}</i></span>
                <hr>
            </template>
            <EntryForm :entry="entry" :parent-entry="getIsSubEntryOriented ? getMarkedParentEntry : null" />
        </template>
        <template v-slot:modal-footer="{ cancel, ok }">
            <b-button size="md" variant="secondary" @click="cancel()">
                Zrušit
            </b-button>
            <b-overlay :show="isLoading"
                       spinner-small
                       spinner-variant="primary">
                <b-button :disabled="!isValid" size="md" variant="primary" @click="ok()">
                    <strong>Uložit úpravy</strong>
                </b-button>
            </b-overlay>
        </template>
    </b-modal>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import EntryForm from "../forms/EntryForm";
  export default {
    name: "EditEntryDialog",
    components: {EntryForm},
    data() {
      return {
        entry: {},
        isLoading: false
      }
    },
    methods: {
      ...mapActions(["updateEntry", "updateSubEntry", "updateDailyLogContent"]),
      async handleOk(bvModalEvent) {
        bvModalEvent.preventDefault();
        this.isLoading = true;
        await this.processUpdateEntry();
        this.isLoading = false;
        this.$bvModal.hide("edit-entry-dialog");
      },
      async processUpdateEntry() {
        let response;
        if (this.getIsSubEntryOriented) {
          this.entry.parentEntry = this.getMarkedParentEntry._id;
          response = await this.updateSubEntry(this.entry);
        } else {
          response = await this.updateEntry(this.entry);
        }
        if (response.status === 200) {
          this.createToast(true, this.getNodesMsg(response.data.resource.text));
          this.updateDailyLogContent();
          this.$router.push({ path: `${this.$route.path}#${response.data.resource._id}` });
          setTimeout(() => { window.location.hash = "" }, 200);
        } else {
          this.createToast(false, response.data.message._message);
        }
      },
      createToast(success, message) {
        let title = success ? "Záznam úspěšně upraven" : "Záznam nebyl úspěšně upraven";
        this.$bvToast.toast(message, {
          title: title,
          toaster: "b-toaster-bottom-center",
          autoHideDelay: 4000,
          variant: success ? "primary" : "danger",
          appendToast: true
        });
      },
      getNodesMsg(entryName) {
        return this.$createElement("span", {}, [
          this.$createElement("span", { class: ["font-italic"] }, [entryName])
        ]);
      },
      copyObj(obj) {
        return JSON.parse(JSON.stringify(obj));
      },
      setData() {
        this.entry = this.getMarkedEntry;
      },
    },
    computed: {
      ...mapGetters(["getMarkedEntry", "getMarkedParentEntry","getIsSubEntryOriented"]),
      isValid() {
        return this.entry.text.length > 0 && this.entry.text.length <= 100 && this.entry.text.replace(/\s/g,'').length > 0
      }
    }
  }
</script>

<style scoped>
.info {
    color: grey;
}
</style>
