<template>
  <div id="app">
    <Header/>
    <router-view/>
    <CreateNewEntryDialog />
    <ConfirmDialog />
    <EditEntryDialog />
    <HelpDialog />
  </div>
</template>

<style>

</style>
<script>
  import Header from "./components/Header";
  import ConfirmDialog from "./components/dialogs/ConfirmDialog";
  import EditEntryDialog from "./components/dialogs/EditEntryDialog";
  import CreateNewEntryDialog from "./components/dialogs/CreateNewEntryDialog";
  import {mapActions} from "vuex";
  import axios from "axios";
  import HelpDialog from "./components/dialogs/HelpDialog";
  export default {
    components: {HelpDialog, CreateNewEntryDialog, EditEntryDialog, ConfirmDialog, Header},
    metaInfo: {
      titleTemplate: "%s - BuJo App"
    },
    methods: {
      ...mapActions(["updateCurrentUser"]),
    },
    mounted() {
      axios.get("api/users/current")
        .then(res => {
          this.updateCurrentUser(res.data.resource);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
</script>
