<template>
    <div id="note-report-wrapper">
        <h3 class="d-inline-block">Seznam poznámek – Report</h3> <h4 class="mb-3 time-span">({{ fromDateFormatted }} – {{ toDateFormatted }})</h4>
        <div id="note-statistics">
            <div id="values-chart-wrapper">
                <div class="d-inline-block" id="values-wrapper">
                    <span class="d-block h5 mb-3">Celkový počet poznámek: <strong>{{ statistics.totalNotesCount }}</strong></span>
                </div>
                <div class="d-inline-block" id="notes-bar-chart-wrapper">
                    <h4 class="text-center mb-3">Týdenní rozložení</h4>
                    <canvas id="notes-bar-chart"></canvas>
                </div>
            </div>
            <div id="table-wrapper">
                <h4 class="text-center mb-3">Seznam poznámek</h4>
                <b-table id="notes-table"
                         :items="statistics.notesData"
                         :fields="tableFields"
                         sort-icon-left
                         head-variant="light"
                         outlined
                         hover
                         stacked="sm"
                         striped
                         table-class="table-warning">
                    <template v-slot:cell(text)="data">
                        <template v-if="data.item.parentEntry">
                            <b-badge :id="`bdg-${data.item._id}`" class="bdg square-badge p-0 sh"><b-icon icon="arrow-return-right"></b-icon></b-badge>
                            <b-tooltip :target="`bdg-${data.item._id}`">
                                Je podzáznamem záznamu <strong>{{ data.item.parentEntry.text }}</strong>
                            </b-tooltip>
                        </template> {{ data.item.text }}
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import moment from "moment";
  import Chart from "chart.js";

  export default {
    name: "NoteReport",
    data() {
      return {
        barChart: null,
        tableFields: [
          {
            key: "text",
            sortable: true
          },
          {
            key: "dateDailyLog",
            label: "Datum (Daily Log)",
            sortable: true,
            formatter: (value) => {
              return moment(value).locale("cs").format("l");
            }
          },
          {
            key: "dateMonthlyLog",
            label: "Datum (Monthly Log)",
            sortable: true,
            formatter: (value, key, item) => {
              let date = item.parentEntry ? item.parentEntry.dateMonthlyLog : item.dateMonthlyLog;
              if (date) return moment(date).locale("cs").format("l");
              return "Nenastaveno";
            }
          },
        ]
      }
    },
    computed: {
      ...mapGetters(["getReportTimeSpan", "getReportStatistics"]),
      fromDateFormatted() {
        return moment(this.getReportTimeSpan.fromDate).locale("cs").format("l");
      },
      toDateFormatted() {
        return moment(this.getReportTimeSpan.toDate).locale("cs").format("l");
      },
      statistics() {
        return this.getReportStatistics;
      }
    },
    methods: {
      generateBarChart() {
        const ctx = document.getElementById("notes-bar-chart").getContext("2d");
        if (this.barChart) {
          this.barChart.destroy();
        }
        this.barChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: this.statistics.noteDistributionDataset.labels,
            datasets: [{
              data: this.statistics.noteDistributionDataset.notesData,
              label: "Poznámka",
              backgroundColor: "#ffc107"
            }]
          },
          options: {
            responsive: false,
            aspectRatio: 1,
            legend: {
              position: "bottom"
            },
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                stacked: true,
                ticks: {
                  precision: 0
                }
              }]
            }
          }
        });
      },
    },
    updated() {
      if (this.statistics && this.statistics.totalNotesCount > 0) {
        this.generateBarChart();
      }
    },
    mounted() {
      if (this.statistics && this.statistics.totalNotesCount > 0) {
        this.generateBarChart();
      }
    }
  }
</script>

<style scoped>
    @media screen and (max-width: 600px) {
        #note-statistics {
            flex-direction: column;
        }
    }
</style>
