<template>
    <div id="task-report-wrapper">
        <h3 class="d-inline-block">Přehled úkolů – Report</h3> <h4 class="mb-1 time-span">({{ fromDateFormatted }} – {{ toDateFormatted }})</h4>
        <div id="task-filters" class="mb-3">
            <b-form inline>
                <label for="task-filters-group" class="d-none">Filtry:</label>
                <b-form-checkbox-group id="task-filters-group"
                                       v-model="taskFilters.selected"
                                       :options="taskFilters.options"
                                       name="task-filters-group"
                                       @change.native="filterStatistics"
                />
            </b-form>
        </div>
        <div id="task-statistics">
            <div id="values-chart-wrapper">
                <div class="d-inline-block" id="values-wrapper">
                    <span class="d-block h5 mb-3">Celkový počet úkolů: <strong>{{ filteredResults.totalTasksCount }}</strong></span>
                    <span v-if="taskFilters.selected.includes('OPEN')" class="d-block h6"><b-icon icon="square-fill" variant="secondary"></b-icon> Otevřené úkoly: <strong>{{ statistics.openTasksCount }}</strong> <span v-if="this.filteredResults.totalTasksCount !== 0" class="percentage">({{ percentageFormatted(this.statistics.openTasksCount, this.filteredResults.totalTasksCount) }})</span></span>
                    <span v-if="taskFilters.selected.includes('COMPLETED')" class="d-block h6"><b-icon icon="square-fill" variant="success"></b-icon> Uzavřené úkoly: <strong>{{ statistics.closedTasksCount }}</strong> <span v-if="this.filteredResults.totalTasksCount !== 0" class="percentage">({{ percentageFormatted(this.statistics.closedTasksCount, this.filteredResults.totalTasksCount) }})</span></span>
                    <span v-if="taskFilters.selected.includes('CANCELED')" class="d-block h6"><b-icon icon="square-fill" variant="danger"></b-icon> Zrušené úkoly: <strong>{{ statistics.canceledTasksCount }}</strong> <span v-if="this.filteredResults.totalTasksCount !== 0" class="percentage">({{ percentageFormatted(this.statistics.canceledTasksCount, this.filteredResults.totalTasksCount) }})</span></span>
                </div>
                <div class="d-inline-block" id="tasks-pie-chart-wrapper">
                    <h4 class="text-center mb-3">Rozdělení podle typu úkolu</h4>
                    <canvas id="tasks-pie-chart"></canvas>
                </div>
                <div class="d-inline-block" id="tasks-bar-chart-wrapper">
                    <h4 class="text-center mb-3">Týdenní rozložení</h4>
                    <canvas id="tasks-bar-chart"></canvas>
                </div>
            </div>
            <div id="table-wrapper">
                <h4 class="text-center mb-3">Seznam úkolů</h4>
                <b-table id="tasks-table"
                         :items="statistics.tasksData"
                         :fields="tableFields"
                         filter="true"
                         :filter-function="filterTable"
                         sort-icon-left
                         head-variant="light"
                         outlined
                         hover
                         stacked="sm"
                         :tbody-tr-class="rowClass">
                    <template v-slot:cell(text)="data">
                        <template v-if="data.item.parentEntry">
                            <b-badge :id="`bdg-${data.item._id}`" class="bdg square-badge p-0 sh"><b-icon icon="arrow-return-right"></b-icon></b-badge>
                            <b-tooltip :target="`bdg-${data.item._id}`">
                                Je podzáznamem záznamu <strong>{{ data.item.parentEntry.text }}</strong>
                            </b-tooltip>
                        </template> {{ data.item.text }}
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
  import moment from "moment";
  import {mapGetters} from "vuex";
  import Chart from "chart.js";

  export default {
    name: "TaskReport",
    data() {
      return {
        filteredResults: {
          tasksData: [],
          totalTasksCount: 0,
        },
        taskFilters: {
          selected: ["OPEN", "COMPLETED", "CANCELED"],
          options: [
            { text: "Otevřené", value: "OPEN" },
            { text: "Uzavřené", value: "COMPLETED" },
            { text: "Zrušené", value: "CANCELED" }
          ]
        },
        pieChart: null,
        barChart: null,
        tableFields: [
          {
            key: "text",
            sortable: true
          },
          {
            key: "dateDailyLog",
            label: "Datum (Daily Log)",
            sortable: true,
            formatter: (value) => {
              return moment(value).locale("cs").format("l");
            }
          },
          {
            key: "dateMonthlyLog",
            label: "Datum (Monthly Log)",
            sortable: true,
            formatter: (value, key, item) => {
              let date = item.parentEntry ? item.parentEntry.dateMonthlyLog : item.dateMonthlyLog;
              if (date) return moment(date).locale("cs").format("l");
              return "Nenastaveno";
            }
          },
          {
            key: "type",
            label: "Typ",
            sortable: true,
            sortByFormatted: true,
            formatter: (value, key, item) => {
              if (value === "TASK" && !item.canceled) return "Otevřený";
              if (value === "TASK_COMPLETED" && !item.canceled) return "Uzavřený";
              return "Zrušený";
            }
          }
        ]
      }
    },
    computed: {
      ...mapGetters(["getReportTimeSpan", "getReportStatistics"]),
      fromDate() {
        return this.getReportTimeSpan.fromDate;
      },
      toDate() {
        return this.getReportTimeSpan.toDate;
      },
      fromDateFormatted() {
        return moment(this.fromDate).locale("cs").format("l");
      },
      toDateFormatted() {
        return moment(this.toDate).locale("cs").format("l");
      },
      filteredTotalTaskCount() {
        let count = 0;
        count += this.taskFilters.selected.includes("OPEN") ? this.statistics.openTasksCount : 0;
        count += this.taskFilters.selected.includes("COMPLETED") ? this.statistics.closedTasksCount : 0;
        count += this.taskFilters.selected.includes("CANCELED") ? this.statistics.canceledTasksCount : 0;
        return count;
      },
      statistics() {
        return this.getReportStatistics;
      }
    },
    methods: {
      filterStatistics() {
        this.filteredResults.totalTasksCount = 0;
        this.filteredResults.tasksData = [];
        for (let task of this.statistics.tasksData) {
          if (this.taskFilters.selected.includes(this.taskTypeValue(task))) {
            this.filteredResults.totalTasksCount++;
            this.filteredResults.tasksData.push(task);
          }
        }
      },
      filterTable(item) {
        return this.taskFilters.selected.includes(this.taskTypeValue(item));
      },
      percentageFormatted(part, total) {
        return `${Math.round((part / total) * 100)} %`;
      },
      taskTypeValue(entry) {
        if (entry.type === "TASK" && !entry.canceled) return "OPEN";
        if (entry.type === "TASK_COMPLETED" && !entry.canceled) return "COMPLETED";
        return "CANCELED";
      },
      generatePieChart() {
        const ctx = document.getElementById("tasks-pie-chart").getContext("2d");
        if (this.pieChart) {
          this.pieChart.destroy();
        }
        let chartFilter = this.generatePieChartFilter();
        this.pieChart = new Chart(ctx, {
          type: "pie",
          data: {
            labels: chartFilter.labels,
            datasets: [{
              data: chartFilter.data,
              backgroundColor: chartFilter.backgroundColor
            }]
          },
          options: {
            responsive: false,
            aspectRatio: 1,
            legend: {
              position: "bottom"
            }
          }
        });
      },
      generatePieChartFilter() {
        let chartFilter = {
          labels: [],
          data: [],
          backgroundColor: []
        };
        for (let taskTypeVal of this.taskFilters.selected) {
          switch (taskTypeVal) {
            case "OPEN": chartFilter.labels.push("Otevřené"); chartFilter.data.push(this.statistics.openTasksCount); chartFilter.backgroundColor.push("#6c757d"); break;
            case "COMPLETED": chartFilter.labels.push("Uzavřené"); chartFilter.data.push(this.statistics.closedTasksCount); chartFilter.backgroundColor.push("#28a745"); break;
            case "CANCELED": chartFilter.labels.push("Zrušené"); chartFilter.data.push(this.statistics.canceledTasksCount); chartFilter.backgroundColor.push("#dc3545"); break;
          }
        }
        return chartFilter;
      },
      generateBarChart() {
        const ctx = document.getElementById("tasks-bar-chart").getContext("2d");
        if (this.barChart) {
          this.barChart.destroy();
        }
        let chartFilter = this.generateBarChartFilter();
        this.barChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: this.statistics.taskDistributionDatasets.labels,
            datasets: chartFilter.datasets
          },
          options: {
            responsive: false,
            aspectRatio: 1,
            legend: {
              position: "bottom"
            },
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                stacked: true,
                ticks: {
                  precision: 0
                }
              }]
            }
          }
        });
      },
      generateBarChartFilter() {
        let chartFilter = { datasets: [] };
        for (let taskTypeVal of this.taskFilters.selected) {
          switch (taskTypeVal) {
            case "OPEN": chartFilter.datasets.push({
                data: this.statistics.taskDistributionDatasets.openTasksData,
                label: "Otevřené",
                backgroundColor: "#6c757d"
              }); break;
            case "COMPLETED": chartFilter.datasets.push({
                data: this.statistics.taskDistributionDatasets.closedTasksData,
                label: "Uzavřené",
                backgroundColor: "#28a745"
              }); break;
            case "CANCELED": chartFilter.datasets.push({
                data: this.statistics.taskDistributionDatasets.canceledTasksData,
                label: "Zrušené",
                backgroundColor: "#dc3545"
              }); break;
          }
        }
        return chartFilter;
      },
      rowClass(item) {
        if (item.type === "TASK" && !item.canceled)
          return "table-secondary";
        if (item.type === "TASK_COMPLETED" && !item.canceled)
          return "table-success";
        if (item.canceled)
          return "table-danger";
      }
    },
    updated() {
      if (this.statistics && this.statistics.totalTasksCount > 0) {
        this.filteredResults.totalTasksCount = this.filteredTotalTaskCount;
        this.filteredResults.tasksData = this.statistics.tasksData;
        this.generatePieChart();
        this.generateBarChart();
      }
    },
    mounted() {
      if (this.statistics && this.statistics.totalTasksCount > 0) {
        this.filteredResults.totalTasksCount = this.statistics.totalTasksCount;
        this.filteredResults.tasksData = this.statistics.tasksData;
        this.generatePieChart();
        this.generateBarChart();
      }
    }
  }
</script>

<style scoped>
    @media screen and (max-width: 600px) {
        #task-statistics {
            flex-direction: column;
        }
    }
</style>
